  
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Category</h2>
              </div>
            </div>
            {{#each category}}
            <div class="row tm-edit-product-row">
                <div class="col-xl-6 col-lg-6 col-md-12">
                    <form action="/admin/edit-category/{{this._id}}" method="post" class="tm-edit-product-form" >
                        <div class="form-group mb-3">
                        <label for="name">Category Name</label>
                        <input id="name"  name="category" type="text" value="{{this.category}}" class="form-control validate"required/>
                        </div>
                        <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <input id="name"  name="description" type="text" value="{{this.description}}" class="form-control validate"required  />
                        </div>
                  

                        <div class="custom-file mt-3 mb-3">
                  
                        </div>
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Update Category</button>
                        </div>
                    </form>
                </div>
                  {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
          <p class="text-center text-white mb-0 px-4 small">
            Copyright &copy; <b>2018</b> All rights reserved. 
            
            
        </p>
        </div>
    </footer> 