<section class="containers forms">
            <div class="form login">
                <div class="form-content">
                    <header>Reset Password</header>
                   {{#if err}}
                    <span class="text-danger" >{{err}}</span>
                    {{/if}}
                   
                    <form action="/create-new-password" method="post" id="">
                        <div class="field input-field">
                            <p>Enter new Password *</p>
                            <input type="tel" placeholder="" name="password" class="input" maxlength="10" required="true">
                        </div>

                         <div class="field input-field mt-5">
                            <p>Confirm Password *</p>
                            <input type="tel" placeholder="" name="confirm" class="input" maxlength="10" required="true">
                            <input type="text" value="{{mobile}}" name="mobile" hidden>
                        </div>


                        <div class="field button-field mt-5">
                            <button type="submit">Submit</button>
                        </div>
                    </form> 

                    
                </div>

            </div>

        </section>

            